{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {generate_division, {path, "../generate_division"}}
]}.

{src_dirs, [
    "src",
    "src/generation_started_v1_to_generations",
    "src/module_generated_v1_to_generated_modules",
    "src/test_generated_v1_to_generated_tests",
    "src/generation_lifecycle_to_generations",
    "src/generation_archived_v1_to_generations",
    "src/get_generation_by_division_id",
    "src/get_generated_modules_page",
    "src/get_generated_tests_page"
]}.
