{erl_opts, [debug_info]}.

{deps, [
    {project_settings, {path, "../project_settings"}},
    {project_realm_memberships, {path, "../project_realm_memberships"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/get_settings",
    "src/get_identity",
    "src/get_node_identity"
]}.

{shell, [{apps, [query_settings]}]}.
