{erl_opts, [debug_info]}.
{deps, []}.
{src_dirs, [
    "src",
    "src/submit_learning",
    "src/validate_learning",
    "src/reject_learning",
    "src/endorse_learning",
    "src/dispute_learning",
    "src/resolve_dispute",
    "src/subscribe_to_mentor",
    "src/unsubscribe_from_mentor",
    "src/declare_expertise",
    "src/withdraw_expertise"
]}.
