{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{src_dirs, [
    "src",
    "src/start_monitoring",
    "src/register_health_check",
    "src/record_health_status",
    "src/raise_incident",
    "src/pause_monitoring",
    "src/resume_monitoring",
    "src/complete_monitoring",
    "src/archive_monitoring"
]}.
