{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/get_system_overview",
        "src/get_processes_page",
        "src/get_process_by_pid",
        "src/get_ets_tables",
        "src/get_ets_table_by_name",
        "src/get_supervision_tree",
        "src/get_plugins_inspector",
        "src/get_stores_inspector",
        "src/get_store_streams",
        "src/get_stream_events",
        "src/get_store_events",
        "src/get_subscriptions_registry",
        "src/get_store_stats",
        "src/get_store_snapshots",
        "src/get_store_subscriptions",
        "src/stream_observer_metrics"
    ]}
]}.

{deps, []}.
