{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {deploy_division, {path, "../deploy_division"}}
]}.

{src_dirs, [
    "src",
    "src/deployment_started_v1_to_deployments",
    "src/release_deployed_v1_to_releases",
    "src/rollout_staged_v1_to_rollout_stages",
    "src/deployment_lifecycle_to_deployments",
    "src/deployment_archived_v1_to_deployments",
    "src/get_deployment_by_division_id",
    "src/get_releases_page",
    "src/get_rollout_stages_page"
]}.
