{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/initialize_launcher",
        "src/register_entry",
        "src/unregister_entry",
        "src/reorganize_launcher",
        "src/on_plugin_installed_register_entry",
        "src/on_plugin_removed_unregister_entry"
    ]}
]}.
