{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {monitor_division, {path, "../monitor_division"}}
]}.

{src_dirs, [
    "src",
    "src/monitoring_started_v1_to_monitorings",
    "src/health_check_registered_v1_to_health_checks",
    "src/health_status_recorded_v1_to_health_checks",
    "src/incident_raised_v1_to_incidents",
    "src/monitoring_lifecycle_to_monitorings",
    "src/monitoring_archived_v1_to_monitorings",
    "src/get_monitoring_by_division_id",
    "src/get_health_checks_page",
    "src/get_incidents_page"
]}.
