{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "1.2.0"},
    {reckon_db, "1.3.2"},
    {shared, {path, "../shared"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_realm_membership",
    "src/confirm_realm_membership",
    "src/revoke_realm_membership",
    "src/initiate_realm_join"
]}.

{shell, [{apps, [guide_realm_memberships]}]}.
