{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "2.0.0"},
    {reckon_db, "2.0.0"},
    {shared, {path, "../shared"}},
    {boot_daemon, {path, "../boot_daemon"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_realm_membership",
    "src/confirm_realm_membership",
    "src/revoke_realm_membership",
    "src/initiate_realm_join",
    "src/relay_realm_events_to_peers",
    "src/listen_for_inherited_realm_memberships"
]}.

{shell, [{apps, [guide_realm_memberships]}]}.
