{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "1.2.0"},
    {reckon_db, "1.3.2"},
    {shared, {path, "../shared"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_site",
    "src/admit_node",
    "src/remove_node",
    "src/spot_lan_machine",
    "src/dismiss_lan_machine"
]}.

{shell, [{apps, [guide_site_lifecycle]}]}.
