{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "2.0.0"},
    {reckon_db, "2.0.0"},
    {shared, {path, "../shared"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_site",
    "src/admit_node",
    "src/remove_node",
    "src/spot_lan_machine",
    "src/dismiss_lan_machine",
    "src/announce_site_node",
    "src/on_site_node_announced_admit_node",
    "src/generate_join_code"
]}.

{shell, [{apps, [guide_site_lifecycle]}]}.
