{erl_opts, [debug_info]}.
{deps, [
    {manage_cartwheels, {path, "../manage_cartwheels"}}
]}.
{src_dirs, [
    "src",
    "src/list_cartwheels",
    "src/get_cartwheel",
    "src/list_findings",
    "src/list_terms",
    "src/list_dossier_designs",
    "src/list_spoke_inventory",
    "src/list_spoke_implementations",
    "src/list_build_verifications",
    "src/list_deployments",
    "src/list_incidents"
]}.
