{erl_opts, [debug_info]}.
{deps, [
    {manage_cartwheels, {path, "../manage_cartwheels"}}
]}.
{src_dirs, [
    "src",
    "src/get_cartwheels_page",
    "src/get_cartwheel_by_id",
    "src/get_findings_page",
    "src/get_terms_page",
    "src/get_dossier_designs_page",
    "src/get_spoke_inventory_page",
    "src/get_spoke_implementations_page",
    "src/get_build_verifications_page",
    "src/get_deployments_page",
    "src/get_incidents_page"
]}.
