{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "2.0.0"},
    {shared, {path, "../shared"}}
]}.

{src_dirs, [
    "src",
    "src/list_mpong_games",
    "src/get_mpong_game",
    "src/host_mpong_game",
    "src/join_mpong_game",
    "src/start_mpong_game",
    "src/stream_mpong_game",
    "src/poll_mpong_game",
    "src/get_champion",
    "src/open_mpong_lobby",
    "src/discover_mpong_lobbies"
]}.

{shell, [{apps, [query_mpong_games]}]}.
