{erl_opts, [debug_info]}.

{deps, [
    {project_realm_memberships, {path, "../project_realm_memberships"}},
    {guide_realm_memberships, {path, "../guide_realm_memberships"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/get_realm_memberships",
    "src/revoke_realm_membership"
]}.

{shell, [{apps, [query_realm_memberships]}]}.
