{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {discover_divisions, {path, "../discover_divisions"}}
]}.

{src_dirs, [
    "src",
    "src/discovery_started_v1_to_discoveries",
    "src/division_discovered_v1_to_discovered_divisions",
    "src/discovery_lifecycle_to_discoveries",
    "src/discovery_archived_v1_to_discoveries",
    "src/get_discovery_by_venture_id",
    "src/get_discovered_divisions_page"
]}.
