{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {plan_division, {path, "../plan_division"}}
]}.

{src_dirs, [
    "src",
    "src/plan_started_v1_to_plans",
    "src/desk_planned_v1_to_planned_desks",
    "src/dependency_planned_v1_to_planned_dependencies",
    "src/plan_lifecycle_to_plans",
    "src/plan_archived_v1_to_plans",
    "src/get_plan_by_division_id",
    "src/get_planned_desks_page",
    "src/get_planned_dependencies_page"
]}.
