{erl_opts, [debug_info]}.
{deps, []}.
{src_dirs, [
    "src",
    "src/get_learning_by_id",
    "src/get_learnings_page",
    "src/get_mentors_page",
    "src/get_mentor_profile_by_id",
    "src/get_mentor_subscriptions_page",
    "src/get_remote_learnings_page",
    "src/remote_learning_listener",
    "src/mentor_discovery_listener"
]}.
