{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {test_division, {path, "../test_division"}}
]}.

{src_dirs, [
    "src",
    "src/testing_started_v1_to_testings",
    "src/test_suite_run_v1_to_test_suites",
    "src/test_result_recorded_v1_to_test_results",
    "src/testing_lifecycle_to_testings",
    "src/testing_archived_v1_to_testings",
    "src/get_testing_by_division_id",
    "src/get_test_suites_page",
    "src/get_test_results_page"
]}.
