{erl_opts, [debug_info, {src_dirs, [
    "src",
    "src/get_folders_tree",
    "src/get_folder_by_id",
    "src/get_files_page",
    "src/get_file_by_id",
    "src/get_file_blob",
    "src/import_file"
]}]}.

{deps, [
    {project_briefcase, {path, "../project_briefcase"}},
    {guide_briefcase_lifecycle, {path, "../guide_briefcase_lifecycle"}}
]}.
