{erl_opts, [debug_info, {src_dirs, [
    "src",
    "src/get_briefcase_items",
    "src/get_briefcase_item_by_id",
    "src/get_briefcase_folders",
    "src/get_briefcase_blob"
]}]}.
{deps, [
    {project_briefcase, {path, "../project_briefcase"}},
    {guide_briefcase_lifecycle, {path, "../guide_briefcase_lifecycle"}}
]}.
