{erl_opts, [debug_info]}.

{deps, []}.

{src_dirs, [
    "src",
    "src/on_venture_facts",
    "src/on_discovery_facts",
    "src/on_design_facts",
    "src/on_plan_facts",
    "src/on_generation_facts",
    "src/on_testing_facts",
    "src/on_deployment_facts",
    "src/on_monitoring_facts",
    "src/on_rescue_facts",
    "src/get_venture_status"
]}.

{shell, [{apps, [guide_venture]}]}.
