{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {design_division, {path, "../design_division"}}
]}.

{src_dirs, [
    "src",
    "src/design_started_v1_to_designs",
    "src/aggregate_designed_v1_to_designed_aggregates",
    "src/event_designed_v1_to_designed_events",
    "src/design_lifecycle_to_designs",
    "src/design_archived_v1_to_designs",
    "src/get_design_by_division_id",
    "src/get_designed_aggregates_page",
    "src/get_designed_events_page"
]}.
