{erl_opts, [debug_info, {src_dirs, [
    "src",
    "src/create_folder", "src/rename_folder", "src/move_folder", "src/archive_folder",
    "src/register_file", "src/import_file", "src/rename_file", "src/move_file",
    "src/star_file", "src/unstar_file", "src/archive_file",
    "src/on_document_renamed_sync_file"
]}]}.
{deps, []}.
