{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "2.0.0"},
    {reckon_db, "2.0.0"},
    {shared, {path, "../shared"}}
]}.

%% VERTICAL SLICING: Include all desk directories
{src_dirs, [
    "src",
    "src/host_game",
    "src/join_game",
    "src/leave_game",
    "src/start_game",
    "src/eliminate_player",
    "src/end_game",
    "src/run_game_engine",
    "src/broadcast_game_state",
    "src/listen_game_state",
    "src/handle_paddle_input",
    "src/advertise_game",
    "src/register_champion",
    "src/open_lobby",
    "src/seek_lobby"
]}.

{shell, [{apps, [guide_mpong_game_lifecycle]}]}.
