[
    {hecate, [
        {api_port, 4453},
        {api_host, {127, 0, 0, 1}},
        {data_dir, "~/.hecate-dev3/hecate-daemon"},
        {bootstrap, ["https://station-be-leuven-centrum.macula.io:4433", "https://station-be-leuven-haasrode.macula.io:4433", "https://station-be-leuven-vaartkom.macula.io:4433"]},
        {realm, <<"io.macula">>},
        {managed_identities, [<<"mri:agent:io.macula/hecate-dev3">>]},
        {hardware, #{
            ram_gb => 16, cpu_cores => 4,
            gpu => <<"none">>, gpu_vram_gb => 0,
            storage_path => <<"/tmp">>
        }}
    ]},

    {reckon_db, [{writer_pool_size, 3}, {reader_pool_size, 3}, {gateway_pool_size, 1}]},
    {evoq, [{event_store_adapter, reckon_evoq_adapter}, {subscription_adapter, reckon_evoq_adapter}, {store_id, default_store}, {consistency, eventual}]},
    %% serve_llm moved to hecate-services/hecate-llm (2026-05-18)
    {hecate_api, [{http_port, 4453}]},
    {manage_alc, [{enabled, true}]},

    {macula, [
        {cert_path, "priv/cert.pem"}, {key_path, "priv/key.pem"},
        {tls_mode, development},
        {health_port, 8193}, {quic_port, 9453},
        {registry_storage_path, "~/.hecate-dev3/hecate-daemon/registry"}
    ]},

    {kernel, [{logger_level, info}, {logger, [{handler, default, logger_std_h, #{level => info, formatter => {logger_formatter, #{template => [time, " [", level, "] ", msg, "\n"]}}}}]}]}
].
