{erl_opts, [debug_info]}.

{src_dirs, ["src", "src/get_endorsements_by_agent", "src/get_followers_by_agent", "src/get_following_by_agent", "src/get_social_graph"]}.

{deps, [
    {manage_social, {path, "../manage_social"}},
    {esqlite, "0.8.8"},
    {jsx, "3.1.0"}
]}.

{shell, [{apps, [query_social]}]}.
