{erl_opts, [debug_info]}.

{deps, [
    {guide_launcher_lifecycle, {path, "../guide_launcher_lifecycle"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/entry_registered",
    "src/entry_unregistered",
    "src/launcher_initialized",
    "src/launcher_reorganized"
]}.
