{erl_opts, [debug_info]}.

{deps, [
    {guide_settings_lifecycle, {path, "../guide_settings_lifecycle"}},
    {esqlite, "0.8.8"}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/settings_initiated_v1_to_settings",
    "src/preferences_updated_v1_to_settings"
]}.

{shell, [{apps, [project_settings]}]}.
