{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "1.1.4"},
    {reckon_db, "1.3.2"}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_settings",
    "src/pair_node",
    "src/unpair_node",
    "src/update_preferences"
]}.

{shell, [{apps, [guide_settings_lifecycle]}]}.
