{erl_opts, [debug_info]}.

{deps, [
    {reckon_evoq, "2.0.0"},
    {reckon_db, "2.0.0"},
    {shared, {path, "../shared"}}
]}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/initiate_settings",
    "src/update_preferences"
]}.

{shell, [{apps, [guide_settings_lifecycle]}]}.
