{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/plugin_installed",
        "src/plugin_removed",
        "src/plugin_upgraded",
        "src/plugin_execution_started",
        "src/plugin_execution_stopped",
        "src/container_confirmed_up",
        "src/container_confirmed_down",
        "src/oci_pull_started",
        "src/oci_pull_completed",
        "src/oci_pull_cancelled"
    ]}
]}.

{deps, [
    {guide_plugin_lifecycle, {path, "../guide_plugin_lifecycle"}}
]}.
