{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/plugin_installed",
        "src/plugin_removed",
        "src/plugin_upgraded",
        "src/plugin_execution_requested",
        "src/plugin_termination_requested",
        "src/container_confirmed_up",
        "src/container_confirmed_down",
        "src/oci_pull_started",
        "src/oci_pull_completed",
        "src/oci_pull_cancelled",
        "src/plugin_package_extracted",
        "src/plugin_load_confirmed",
        "src/plugin_unload_confirmed"
    ]}
]}.

{deps, [
    {guide_plugin_lifecycle, {path, "../guide_plugin_lifecycle"}}
]}.
