{erl_opts, [debug_info]}.
{deps, []}.
{src_dirs, [
    "src",
    "src/find_learning",
    "src/list_learnings",
    "src/list_mentors",
    "src/get_mentor_profile",
    "src/list_subscriptions",
    "src/list_remote_learnings",
    "src/remote_learning_listener",
    "src/mentor_discovery_listener"
]}.
