%%% rebar.config for query_capabilities app
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

%% No deps here - umbrella provides them
%% manage_capabilities dependency is declared in .app.src applications list
{deps, []}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/get_capability_by_mri",
    "src/get_capabilities_page",
    "src/remote_capabilities_listener",
    "src/measure_remote_latency"
]}.
