%%% rebar.config for query_capabilities app
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

%% No deps here - umbrella provides them
%% manage_capabilities dependency is declared in .app.src applications list
{deps, []}.

%% Include vertical slice subdirectories
{src_dirs, [
    "src",
    "src/find_capability",
    "src/list_capabilities",
    "src/remote_capabilities_listener",
    "src/measure_remote_latency"
]}.
