{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {esqlite, "0.8.8"},
    {rescue_division, {path, "../rescue_division"}}
]}.

{src_dirs, [
    "src",
    "src/rescue_started_v1_to_rescues",
    "src/incident_diagnosed_v1_to_diagnoses",
    "src/fix_applied_v1_to_fixes",
    "src/rescue_lifecycle_to_rescues",
    "src/rescue_archived_v1_to_rescues",
    "src/get_rescue_by_division_id",
    "src/get_diagnoses_page",
    "src/get_fixes_page"
]}.
