{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/license_initiated_v1_to_catalog",
        "src/license_announced_v1_to_catalog",
        "src/license_published_v1_to_catalog",
        "src/license_bought_v1_to_licenses",
        "src/license_revoked_v1_to_licenses",
        "src/license_archived_v1_to_licenses",
        "src/license_amended_v1_to_catalog",
        "src/license_retracted_v1_to_catalog"
    ]}
]}.

{deps, [
    {guide_license_lifecycle, {path, "../guide_license_lifecycle"}}
]}.
