{erl_opts, [
    debug_info,
    {src_dirs, [
        "src",
        "src/license_initiated",
        "src/license_announced",
        "src/license_published",
        "src/license_amended",
        "src/license_retracted",
        "src/license_bought",
        "src/license_revoked",
        "src/license_archived",
        "src/plugin_installed",
        "src/plugin_removed",
        "src/plugin_upgraded"
    ]}
]}.

{deps, [
    {guide_license_lifecycle, {path, "../guide_license_lifecycle"}},
    {guide_plugin_lifecycle, {path, "../guide_plugin_lifecycle"}}
]}.
